*.a
*.o
*~
.DS_Store
/build
/node_modules
/dist
/.vscode
build/
log/
tmp/
logs/
# === RStudio ===
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# === Quarto ===
# Archivos de salida
*_cache/
_freeze/
_site/
_book/
.quarto/

# === Renv / Paquetes ===
renv/library/
renv/staging/

# === Sistema / Editor ===
.DS_Store
Thumbs.db
*~